<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wandera.wandera">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Browse" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ManageBusiness" />
        <activity android:name=".Home" />
        <activity android:name=".VerticalNtbActivity" />
        <activity
            android:name=".HomeSlider"
            android:label="@string/title_activity_home_slider"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Municipality"
            android:label="@string/title_activity_municipality" />
        <activity
            android:name=".Phrasebook"
            android:label="@string/title_activity_phrasebook" />
        <activity
            android:name=".Transpo"
            android:label="@string/title_activity_transpo" />
        <activity
            android:name=".Itinerary"
            android:label="@string/title_activity_itinerary" />
        <activity android:name=".activity.PhraseBookActivity" />
        <activity android:name=".activity.InboxActivity" />
        <activity
            android:name=".activity.BrowseBusinesses"
            android:label="@string/title_activity_browse_businesses"
            android:parentActivityName=".HomeSlider">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wandera.wandera.HomeSlider" />
        </activity>
    </application>

</manifest>